@model ecoNhom3.Models.HoaDon
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                Họ Tên:
                <input asp-for="HoTen" class="form-control" value="@Context.Session.GetString("TenTv")" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                Địa Chỉ:
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                Điện Thoại:
                <input asp-for="SdtNguoiNhan" class="form-control" />
                <span asp-validation-for="SdtNguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                Địa Chỉ:
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ghi chú:
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>

            <div class="form-group">
                Tổng Hóa Đơn:

                <input asp-for="TongTienHang" class="form-control" readonly value="@tt" />
                <span asp-validation-for="TongTienHang" class="text-danger"></span>


            </div>
            <div class="form-group">
                Phí Ship (Tính riêng):
                <input  class="form-control" readonly value="20.000 đ" />
                

            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
