@model ecoNhom3.Models.PhanLoaiTV
@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_Admin";
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        .mainmenu {
            margin-left: 30%;
        }

        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: white;
        }

        tr, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">TYPE OF USERS</h3>
    <br />
    <br />
    <div class="mainmenu">
        <h4>Xóa Loại Người Dùng Này ?</h4>
        <hr />
        <table>
            <tr>
                <td>Tên Loại: </td>
                <td>@Html.DisplayFor(model => model.LoaiThanhVien)</td>
            </tr>
        </table>
        <br />
        <br />
        <form asp-action="Delete">
            <input type="hidden" asp-for="LoaiTv" />
            <input type="submit" value="Xóa" class="w3-bar-item w3-padding w3-pale-red w3-button">
            <a asp-action="Index" class="w3-bar-item w3-padding w3-pale-blue w3-button">Trở Về</a>
        </form>
    </div>
</body>