@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="shortcut icon" type="image/ico" href="~/images/logo.jpg" />
    <link rel="icon" type="image/ico" href="~/images/logo.jpg" />
    <link rel="apple-touch-icon" type="image/ico" href="~/images/logo.jpg" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
         <a asp-action="Index" asp-controller="Home"> Go to ecoNhom3 Drinks </a>
    </div>
   
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                <img src="~/images/admin.png" class="w3-circle w3-margin-right" style="width:46px">
            </div>
            <div class="w3-col s8 w3-bar">
                <span style="color:crimson; font-size:20px"><strong>Admin</strong></span>
            </div>
        </div>
        <hr>
        <div class="w3-bar-block">
           
            <a asp-controller="ThanhViens" asp-action="Admin" class="w3-bar-item w3-button w3-padding w3-pale-blue"><i class="fa fa-drivers-license fa-fw"></i> THÔNG TIN ADMIN</a>
            <a asp-controller="ThanhViens" asp-action="Customer" class="w3-bar-item w3-button w3-padding w3-pale-yellow"><i class="fa fa-group fa-fw"></i> THÔNG TIN KHÁCH HÀNG</a>
            <a asp-controller="Loais" asp-action="Index" class="w3-bar-item w3-button w3-padding w3-pale-blue"><i class="fa fa-file-word-o fa-fw"></i>  LOẠI SẢN PHẨM</a>
            <a asp-controller="NhaCungCaps" asp-action="Index" class="w3-bar-item w3-button w3-padding w3-pale-yellow"><i class="fa fa-flag fa-fw"></i>  NHÀ CUNG CẤP</a>
            <a asp-controller="HangHoas" asp-action="Index" class="w3-bar-item w3-button w3-padding w3-pale-blue"><i class="fa fa-heart fa-fw"></i>  SẢN PHẨM</a>
            <a asp-controller="HoaDons" asp-action="Index" class="w3-bar-item w3-button w3-padding w3-pale-yellow"><i class="fa fa-check-square-o fa-fw"></i>  HÓA ĐƠN</a>
           
            <br><br>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        @RenderBody()
        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-light-grey">
            <p>@DateTime.Now</p>
        </footer>
        <!-- End page content -->
    </div>
    

    @RenderSection("Scripts", required: false)
</body>
</html>
