@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session;




<!DOCTYPE html>
<html>
<head>
    <title>Tài Khoản Khách Hàng</title>

    <link href="~/css/mycss.css" rel="stylesheet" asp-append-version="true" />
    <link rel="shortcut icon" type="image/ico" href="~/images/logo.jpg" />
    <link rel="icon" type="image/ico" href="~/images/logo.jpg" />
    <link rel="apple-touch-icon" type="image/ico" href="~/images/logo.jpg" />

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" asp-append-version="true" />
    <!-- font-awesome icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" asp-append-version="true" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    @section Scripts {
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });</script>
    }
    <!-- start-smoth-scrolling -->
    <!--mailchimp-->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica,Arial,sans-serif;
            width: 300px;
        }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153795173-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-153795173-1');
    </script>

</head>
<body>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5de5f2acbef31da9"></script>

    <div class="container-fluid">
        <!-- header -->
        <div class="agileits_header">
            <div class="w3l_offers">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tài khoản <span class="caret"></span></a>
                @if (Context.Session.GetInt32("MaTv") == null)
                {
                    <ul class="dropdown-menu">
                        <li><a asp-controller="ThanhViens" asp-action="Login">Đăng nhập</a></li>
                    </ul>

                }
                else
                {

                    <ul class="dropdown-menu">
                        <li><a href="~/ThanhViens/Details/@Context.Session.GetInt32("MaTv")">Thông tin tài khoản</a></li>

                        <li><a asp-controller="ThanhViens" asp-action="Logout">Đăng xuất</a></li>
                    </ul>
                }


            </div>

            <div class="w3l_offers">
                <a style="background-color:red;" asp-action="Index" asp-controller="Home">Trang Chủ</a>
            </div>
            <div class="w3l_offers">
                <a style="background-color:blue;" asp-action="Contact" asp-controller="Home">Liên Hệ</a>
            </div>

            <div class="product_list_header">
                <a asp-action="Index" asp-controller="Cart">
                    <input type="submit" name="name" value="Giỏ Hàng" class="button" />
                </a>
            </div>
            <div class="nav navbar-nav navbar-right" style="margin-right:10px;">
                @using (Html.BeginForm("SearchSP", "Home"))
                {
                    <input style="margin-top:10px;color: black" type="text" name="keysearch" value="" placeholder="Tìm kiếm Sản Phẩm" />
                    <input style="margin-top:10px" type="submit" name="name" value="Tìm Kiếm" />
                }


            </div>

        </div>

        <!-- script-for sticky-nav -->
        <script>
            $(document).ready(function () {
                var navoffeset = $(".agileits_header").offset().top;
                $(window).scroll(function () {
                    var scrollpos = $(window).scrollTop();
                    if (scrollpos >= navoffeset) {
                        $(".agileits_header").addClass("fixed");
                    } else {
                        $(".agileits_header").removeClass("fixed");
                    }
                });

            });</script>
        <!-- //script-for sticky-nav -->
        <div class="logo_products" style="padding: 2em 0px 0em;">
            <div class="container">
                <div style="text-align: center; border-bottom: solid 1px red">
                    <a style="color:#000033;font-size:60px;font-weight:bolder;text-decoration: none; color:mediumvioletred;">econhom3 Drinks</a>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>

        <!-- //header -->
        <div class="row" style="margin-right:-29px;margin-left:-29px;">
            <div class="col-md-3">
                <!-- banner -->
                <div class="banner">
                    <div class="w3l_banner_nav_left" style="float:left;width:84%;">

                        <nav class="navbar nav_bottom">
                            <!-- Brand and toggle get grouped for better mobile display -->

                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav nav_1">
                                    <li><a style="color:#fff;background-color:brown;font-size:18px;font-weight:bold;"> TK: @Context.Session.GetString("TaiKhoan")</a></li>

                                    <li>
                                        <a style="padding:4px 0px 4px 40px;" asp-controller="ThanhViens" asp-action="Details" asp-route-id="@Context.Session.GetInt32("MaTv")">
                                            Thông tin tài khoản
                                        </a>
                                    </li>
                                    <li>
                                        <a style="padding:4px 0px 4px 40px;" asp-controller="HoaDons" asp-action="Index">
                                            Lịch sử mua hàng
                                        </a>
                                    </li>




                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>
                    </div>
                    <!-- //newsletter -->
                </div>
            </div>
            <article class="col-md-9">
                @RenderBody()
            </article>
        </div>




        <!-- //fresh-vegetables -->
        <!-- footer -->
        <footer class="row">
            <!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root"></div>
            <script>
                $(document).ready(function () {
                    $('#send-message').click(function () {
                        $(this).fadeOut();
                        setTimeout(function () {
                            $('#fa-message')
                                .css({
                                    bottom: '0px'
                                });
                        }, 500);
                    });
                    $('#fa-message .heading').click(function () {
                        $('#fa-message').css({
                            bottom: '-333px'
                        });
                        setTimeout(function () {
                            $('#send-message').fadeIn();
                        }, 1000);
                    });
                    $.scrolltop();
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
            <script type="text/javascript">
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '2433516863577384',
                        cookie: true,
                        xfbml: true,
                        version: 'v5.0'
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            <!-- Your customer chat code -->
            <div class="fb-customerchat"
                 attribution=setup_tool
                 page_id="100776611402531"
                 theme_color="#13cf13"
                 logged_in_greeting="Xin Chào! Chúng tôi có thể hỗ trợ gì cho bạn?"
                 logged_out_greeting="Xin Chào! Chúng tôi có thể hỗ trợ gì cho bạn?">
            </div>


            <!--to top-->
            <button onclick="topFunction()" id="myBtn" title="Go to top"></button>
            <script>
                //Get the button
                var mybutton = document.getElementById("myBtn");

                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () { scrollFunction() };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        mybutton.style.display = "block";
                    } else {
                        mybutton.style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>

            <div class="footer">
                <div class="container">
                    <div class="col-md-3 w3_footer_grid">

                        <h3>Thông tin cửa hàng</h3>
                        <ul class="w3_footer_grid_list">
                            <li><a asp-action="Contact" asp-controller="Home">Liên hệ</a></li>
                            <li style="color:#999">ĐT: 25251325</li>
                            <li style="color:#999">ĐC: Quận 5 - TP. HCM</li>
                            <li style="color:#999">Imail: econhom3@gmail.com</li>
                            <li><a href="https://www.facebook.com/EcommerceNhom3-100776611402531/" target="_blank">Fanpage: ecoNhom3</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3 w3_footer_grid">
                        <h3>Các mặt hàng</h3>
                        <ul class="w3_footer_grid_list">
                            <li><a asp-action="ShowNuocNgot" asp-controller="Home">Nước Ngọt</a></li>
                            <li><a asp-action="ShowNuocSuoi" asp-controller="Home">Nước Suối</a></li>
                            <li><a asp-action="ShowRuou" asp-controller="Home">Rượu</a></li>
                            <li><a asp-action="ShowBia" asp-controller="Home">Bia</a></li>

                        </ul>
                    </div>

                    <div class="col-md-3 w3_footer_grid">

                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=100776611402531&autoLogAppEvents=1"></script>
                        <div class="fb-page" data-href="https://www.facebook.com/EcommerceNhom3-100776611402531/" data-tabs="timeline" data-width="500" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/EcommerceNhom3-100776611402531/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EcommerceNhom3-100776611402531/">ecoNhom3</a></blockquote>
                        </div>

                    </div>
                    <div class="clearfix"> </div>

                    <!-- Begin Mailchimp Signup Form -->

                    <form class="mc-trial row" action="https://somee.us4.list-manage.com/subscribe/post?u=f877dd4aceb6374fb11645685&amp;id=12e1ca0ec2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <p style="text-align:center; margin-top:50px; margin-bottom:20px; color: yellow; text-decoration: underline">Đăng ký nhận thông tin khuyến mãi từ cửa hàng</p>
                        <div class="form-group col-md-3 col-md-offset-2 col-sm-4">
                            <div class=" controls">
                                <input name="NAME" placeholder="Nhập Tên Của Bạn" class="form-control" type="text">
                            </div>
                        </div>
                        <!-- End email input -->
                        <div class="form-group col-md-3 col-sm-4">
                            <div class=" controls">
                                <input name="EMAIL" placeholder="Nhập Email Của Bạn" class="form-control" type="email">
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <p>
                                <button type="submit" class="btn btn-block btn-submit" name="subscribe">
                                    Đăng Ký <i class="fa fa-arrow-right"></i>
                                </button>
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                        <div id="mce-responses" style="color: aqua">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f877dd4aceb6374fb11645685_12e1ca0ec2" tabindex="-1" value=""></div>

                    </form>

                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[1] = 'NAME'; ftypes[1] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->

                    <div class="clearfix"> </div>

                    <div class="wthree_footer_copy">
                        <p>&copy;  ecoNhom3</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });</script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {


            $().UItoTop({ easingType: 'easeOutQuart' });

        });</script>


</body>
</html>
