@model ecoNhom3.Models.ThanhVien

@{
    ViewData["Title"] = "Create";
}

@{
    Layout = "_Admin";
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        .mainmenu {
            margin-left: 24%;
        }
    </style>
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">ACCOUNTS</h3>
    <hr />
    <div class="row mainmenu">
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    Họ Tên
                    <input asp-for="TenTv" class="form-control" />
                    <span asp-validation-for="TenTv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Giới Tính
                    <input asp-for="GioiTinh" class="form-control" />
                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Ngày Sinh
                    <input asp-for="NgaySinh" class="form-control" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Địa chỉ
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    SĐT
                    <input asp-for="DienThoai" class="form-control" />
                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Email
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    Loại Người Dùng
                    <select asp-for="LoaiTv" class="form-control" asp-items="ViewBag.LoaiTv"></select>
                </div>
                <div class="form-group">
                    Tên Đăng Nhập
                    <input asp-for="TaiKhoan" class="form-control" />
                    <span asp-validation-for="TaiKhoan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Mật Khẩu
                    <input asp-for="MatKhau" type="password" class="form-control" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm" class="w3-bar-item w3-padding w3-pale-red" />
                    <a asp-action="Index" class="w3-bar-item w3-padding w3-pale-blue w3-button">Trở Về</a>
                </div>
            </form>
        </div>
    </div>
</body>
