@model ecoNhom3.Models.ThanhVien
@{
    ViewData["Title"] = "Create";
}

<meta name="viewport" content="width=device-width" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - ecoNhom3</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/mycss.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<body>

    <hr />
    <div id="id01" class="modal" style="display:block;">
        <form class="modal-content animate" asp-action="dangky" asp-controller="NguoiDungs" style="width:30%;" enctype="multipart/form-data">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/images/img_avatar2.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    Họ Tên
                    <br />
                    <input asp-for="TenTv" class="form-control inputdangky" />
                    <span asp-validation-for="TenTv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Giới Tính
                    <input asp-for="GioiTinh" class="form-control inputdangky" />
                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    Ngày Sinh
                    <input asp-for="NgaySinh" class="form-control inputdangky" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group">
                    Địa Chỉ
                    <br />
                    <input asp-for="DiaChi" class="form-control inputdangky" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    SĐT
                    <br />
                    <input asp-for="DienThoai" class="form-control inputdangky" />
                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Email
                    <br />
                    <input asp-for="Email" class="form-control inputdangky" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    Tên Đăng Nhập
                    <input asp-for="TaiKhoan" class="form-control inputdangky" />
                    <span asp-validation-for="TaiKhoan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Mật Khẩu
                    <br />
                    <input asp-for="MatKhau" class="form-control inputdangky" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng Ký" class="btn btn-default btn btn-info buttomlogin" />
                </div>
                <br />
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
            <div class="container " style="background-color:#f1f1f1;width:100%;">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

</body>
