@{
    ViewData["Title"] = "Contact";
}
<style>

    #map {
        width: 750px;
        height: 370px;
    }
</style>

<div class="row">
    <h3>Liên Hệ Với Chúng Tôi</h3><br />
    <span class="col-md-4"><i class="fa fa-home" aria-hidden="true" style="padding:5px;color:red;font-size:35px;"></i><span style="padding:8px;font-size:25px; color:darkred;">Address</span><span>Tp.HCM</span></span>
    <span class="col-md-4"><i class="fa fa-envelope" aria-hidden="true" style="padding:5px;color:red;font-size:35px;"></i><span style="padding:8px;font-size:25px; color:darkred;">Email</span><span><a href="mailto:info@example.com">econhom3@gmail.com</a></span></span>
    <span class="col-md-4"><i class="fa fa-phone" aria-hidden="true" style="padding:5px;color:red;font-size:35px;"></i><span style="padding:8px;font-size:25px; color:darkred;">Phone</span><span>25251325</span></span>
    <br />
</div>
<br />
<div>
    <p>Vị Trí Cửa Hàng</p><br />
   
                          <div id="map">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26824.18208764559!2d106.62953837411571!3d10.771797515199948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b8a072901%3A0x2fb4502ebd044212!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgUGjhuqFtIFRQLiBIQ00!5e1!3m2!1svi!2sus!4v1573640325881!5m2!1svi!2sus"frameborder="0" style="border:0;width:133%; height:89%;" allowfullscreen""></iframe>
                          </div>
</div>
