@{
    ViewData["Title"] = "lien-he";
}
<style>

    #map {
        width: 750px;
        height: 370px;
    }
</style>

<div class="row">
    <h3 style="margin-left:16px">Liên Hệ Với Chúng Tôi</h3><br />
    <span class="col-md-4"><i class="fa fa-home" aria-hidden="true" style="padding:5px;color:red;font-size:35px;"></i><span style="padding:8px;font-size:25px; color:darkred;">Address</span><span>Tp.HCM</span></span>
    <span class="col-md-4"><i class="fa fa-envelope" aria-hidden="true" style="padding:5px;color:red;font-size:35px;"></i><span style="padding:8px;font-size:25px; color:darkred;">Email</span><span><a href="mailto:info@example.com">econhom3@gmail.com</a></span></span>
    <span class="col-md-4"><i class="fa fa-phone" aria-hidden="true" style="padding:5px;color:red;font-size:35px;"></i><span style="padding:8px;font-size:25px; color:darkred;">Phone</span><span>25251325</span></span>
    <br />
</div>
<br />
<div >
    <p>Vị Trí Cửa Hàng</p><br />
   
                          <div id="map" style="padding-right:50px">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62714.41880267635!2d106.682203!3d10.761344!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2fb4502ebd044212!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgUGjhuqFtIFRQLiBIQ00!5e0!3m2!1svi!2sus!4v1574358826169!5m2!1svi!2sus" frameborder="0" style="border:0;width:133%; height:89%;" allowfullscreen""></iframe>
                          </div>
</div>
