@model ecoNhom3.Models.Loai
@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Admin";
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        .mainmenu {
            margin-left: 26%;
        }
    </style>
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">CATEGORY</h3>
    <hr />
    <div class="row mainmenu">
        <div class="col-md-4">
            <form asp-action="Edit"  enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MaLoai" />
                <div class="form-group">
                    Tên Loại
                    <input asp-for="TenLoai" class="form-control" />
                    <span asp-validation-for="TenLoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="w3-bar-item w3-padding w3-pale-red" />
                    <a asp-action="Index" class="w3-bar-item w3-padding w3-pale-blue w3-button">Trở Về</a>
                </div>
            </form>
        </div>
    </div>
</body>
